* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

p, li, label {
  font-size: 2rem;
}

h1, h2, h3, h4, h5 {
  line-height: 0.9;
}

h1 {
  color: blue;
  font-size: 6rem;
  margin-bottom: 1rem;
  line-height: 1;
}

h2 {
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 3rem;
  width: 90%;
}

.home-page-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}

.btns-and-links {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 1rem 0;
  width: 20rem;
}
.btns-and-links:active {
  background-color: white;
  color: black;
}

.how-to-play-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: blue;
  color: white;
  padding: 5rem 1rem;
}

.introduction-container {
  margin-bottom: 3rem;
}
.introduction-container p {
  text-align: center;
  max-width: 600px;
  margin-bottom: 1rem;
}
.introduction-container :last-child {
  margin-bottom: 0;
}

.examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}
.examples h3 {
  text-align: center;
  margin-bottom: 2rem;
}
.examples .example-explanation {
  margin-bottom: 3rem;
}

.example-explanation {
  max-width: 600px;
}

.example-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.example {
  text-align: center;
  background-color: white;
  color: black;
  padding: 2rem 1rem;
  border-radius: 1rem;
  max-width: 47.5rem;
}
.example h4, .example h5 {
  margin-bottom: 1.5rem;
}

.example-word, .example-list {
  margin-bottom: 2rem;
  list-style: none;
}

.example-list {
  display: inline-block;
  text-align-last: left;
  list-style: dashed;
}
.example-list li {
  margin-bottom: 1rem;
}
.example-list :last-child {
  margin-bottom: 0;
}

.play-link {
  display: inline-block;
}

.game-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-info-wrapper article, .game-info-wrapper form {
  width: fit-content;
}
.game-info-wrapper article {
  text-align: center;
  margin: 0 auto;
}

.game-controls-wrapper p {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.game-controls-wrapper .game-word {
  margin-bottom: 1.5rem;
  font-size: 3.8rem;
}

.get-new-word-btn {
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
form label {
  text-align-last: left;
}
form input {
  border: none;
  font-size: 3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
}
form button.btns-and-links {
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}

p.error-msg-lbl {
  font-size: 2.5rem;
}

.level-and-timer {
  display: flex;
  gap: 3rem;
}

.game-mode-group {
  display: flex;
  gap: 0.5rem;
}
.game-mode-group button {
  width: fit-content;
  padding: 1.5rem 1.5rem;
  font-size: 1.8rem;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.game-timer {
  width: fit-content;
  font-size: 3rem;
  margin-bottom: 0;
}

.game-info-wrapper {
  background-color: blue;
  color: white;
  padding: 2rem;
}

.active {
  color: white;
  border: 2px solid white;
}

.d-none {
  display: none;
}

.time-almost-out {
  color: yellow;
}

/* body {
  background-color: #000000;
  color: #ffffff;
}

form {
  width: fit-content;
}

.progress {
  background-color: transparent;
}

.guessed-words-section {
  -moz-column-width: 10rem;
  -moz-column-gap: 2rem;
  -moz-column-rule: thin solid white;
  -webkit-column-width: 10rem;
  -webkit-column-gap: 2rem;
  -webkit-column-rule: thin solid white;
  column-width: 10rem;
  column-gap: 2rem;
  column-rule: thin solid white;
} */
/* game over area */
/* .play-again-btn {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}
.play-symbol {
  margin: auto;
  height: 0;
  width: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 35px solid black;
  border-right: none;
} */

/*# sourceMappingURL=styles.css.map */
