body {
  background-color: #000000;
  color: #ffffff;
}

form {
  width: fit-content;
}

.progress {
  background-color: transparent;
}

.guessed-words-section {
  -moz-column-width: 10rem;
  -moz-column-gap: 2rem;
  -moz-column-rule: thin solid white;
  -webkit-column-width: 10rem;
  -webkit-column-gap: 2rem;
  -webkit-column-rule: thin solid white;
  column-width: 10rem;
  column-gap: 2rem;
  column-rule: thin solid white;
}

/* game over area */
.play-again-btn {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}
.play-symbol {
  margin: auto;
  height: 0;
  width: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 35px solid black;
  border-right: none;
 
}
